
    <section class="copyright-info-container">
        <div class="copy-text">
            <h2>Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Nepathya Hotel and Restaurant</h2>
            <h4>Designed By, Aman Bhattarai</h4>
        </div>
        <div class="go-up" onclick="scrollToTop()">
            <a class="nav-link" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
    </section>
    