    <section class="top-navbar">
        <div class="top-left">
            <p><span>Tilottama-05,Manigram</span></p>
        </div>
        <div class="top-right">
            <div class="top-social">
                <a class="nav-link" href="/login"><i class="fa fa-user"></i></a>
            </div>
        </div>
    </section>

    <section class="top-menubar">
        <div class="top-logo">
            <h3><span id="logo-max-text">Nepathya</span><br><span id="logo-mini-text">Hotel &amp; Restaurant</span>
            </h3>
        </div>
        <div class="top-menuitems">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/booking">Booking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        </section>