{{>header}}
    <section class="contact-container">
        <h1 id="contact-h1txt">Contact Us</h1>
        <div class="contact-info">
            <p><i class="fa fa-map-marker"></i> Tilottama-05,Manigram</p>
            <p><i class="fa fa-envelope"></i> hotelnepathya@gmail.com</p>
            <p><i class="fa fa-phone"></i> +977 9867413240l</p>
            <p><i class="fa fa-map"></i> <a href="https://www.google.com/maps/d/viewer?mid=1U_I5xccoNgdEQVKkJjZd5YMLTjA&hl=en&ll=27.6591728%2C83.46623&z=17" target="_blank">View on Google Maps</a></p>
        </div>
        <form class="contact-form" method="post">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="text" name="subject" placeholder="Subject" required>
            <textarea name="message" placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </section>

    {{>footer}}